<h2 class="page-title">Extreme Weather Detection</h2> <!-- Updated title to match component -->
<div class="trend-container">
    <!-- Image 1 -->
    <div class="trend-item">
        <h3 class="trend-heading">Monthly total Rainfall (High to Lowest)</h3>
        <img [src]="image1Src" alt="Rainfall Trend Comparison" class="trend-image" (click)="openOverlay(image1Src)">
        <p class="trend-description"><span class="click">click on the image to enlarge</span><br>{{
            image1MoreDescription }}</p>
    </div>

    <!-- Image 1 -->
    <div class="trend-item">
        <h3 class="trend-heading">Monthly max and min Temparature</h3>
        <img [src]="image2Src" alt="Temperature Trend Comparison" class="trend-image" (click)="openOverlay(image2Src)">
        <p class="trend-description"><span class="click">click on the image to enlarge</span><br>{{
            image1MoreDescription }}</p>
    </div>



    <!-- Overlay for enlarged image -->
    <div class="overlay" *ngIf="isOverlayOpen" (click)="closeOverlay($event)">
        <div class="overlay-content" (click)="$event.stopPropagation()">
            <img [src]="selectedImageSrc" alt="Enlarged Image" class="enlarged-image">
            <button class="close-button" (click)="closeOverlay($event)">×</button>
        </div>
    </div>